<!DOCTYPE html>
<html>
<head>
	<title>
		Scan QR From gate
	</title>
</head>
<body>
	<h1> <%= title %> </h1>
	<form method="POST" action="/users/addUserType">
		_id : <input type="number" name="id"><br>
		userTypeName : <input type="text" name="userTypeName"><br>
		<button type="submit" value="Submit">submit </button>
	</form>
</body>
</html>