<!DOCTYPE html>
<html>
<head>
	<title>
		Scan QR From gate
	</title>
</head>
<body>
	<h1> <%= title %> </h1>

	<a href="/users/loadAddUser">Add User</a><br><br>
	<a href="/userTypes/loadAddUserType">Add User Type</a><br><br>
	<a href="/gate/loadGateScanner">ScanQR</a><br><br>
	<a href="/gate/loadGenerateReport">Generate Report</a>
</body>
</html>