<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/select2.css" />
        <link rel="stylesheet" href="css/matrix-style.css" />
        <link rel="stylesheet" type="text/css" href="css/homepage.css" />
        <link rel="stylesheet" type="text/css" href="css/EquipmentAvaiblity.css" />
        
</head>
<body>
<nav class="n1">
	<div>
		<br>
<header><img src="DAIICT.jpg" class="img1"/></header>
</div>
 <div class="menu1">
                    <div class="menualign1">
                        <a href="equipment_avaiblity1.html" class="selected">Home</a>
                        <a href="homepageStudent.html">Profile</a>
                        <a href="regenerateQR.html">Regenerate QR</a>
                        <a href="viewQRFinal.html">View QR</a>
                        <a href="ChangePassword.html">Change Password</a>
                        <a href="login.html">Logout</a>
                    </div>
                </div>
  </nav>  
        <div class="container-fluid">
                <div align = "center" id="count"> 
                  <h3 align ="center"> Seat Count is 243</h3>
                </div>
                <div class="row-fluid">
                  <div class="span12">    
                    <div class="widget-box">
                      <div class="widget-title">
                        <h5>Equipment Avaiblity</h5>
                      </div>
                      <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                          <thead>
                            <tr>
                              <th>Equipment Name</th>
                              <th>Available Equipment</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="gradeX">
                              <td>Shuttlecock</td>
                              <td>20</td>
                            </tr>
                            <tr class="gradeC">
                              <td>Football</td>
                              <td>30</td>
                            </tr>
                            <tr class="gradeA">
                              <td>Volleyball</td>
                              <td>40</td>
                            </tr>
                            <tr class="gradeA">
                              <td>Basketball</td>
                              <td>29</td>
                            </tr>
                            <tr class="gradeA">
                              <td>Cricket-Ball</td>
                              <td>65</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<script src="js/jquery.min.js"></script> 

<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 

<script src="js/matrix.tables.js"></script>
</body>
</html>