<!DOCTYPE html>
<html>
<head>
	<title>
		Scan QR From gate
	</title>
	
</head>
<body>
	<h1> <%= title %> </h1>
	
	  
	<form method="POST" action="/gate/generateReport">
		from : <input type="date" id="startDate" min="2002-01-01" value="2002-01-01" name="startDate" data-date-format="DD-MM-YYYY"><br><br>
		to : <input type="date" id="endDate" name="endDate" max="2020-18-3"
		data-date-format="DD-MM-YYYY"><br><br>
		<button type="submit" value="Submit" id="pdf">Generate Report </button>
	</form>

	<script type="text/javascript">
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		 if(dd<10){
		        dd='0'+dd
		    } 
		    if(mm<10){
		        mm='0'+mm
		    } 

		today = yyyy+'-'+mm+'-'+dd;
		document.getElementById("endDate").setAttribute("max", today);
		document.getElementById("endDate").setAttribute("value", today);
		document.getElementById("startDate").setAttribute("max", today);
		document.getElementById("startDate").setAttribute("value", today);
	</script>
	
</body>
</html>