<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/studentStatic/css/homepage.css"></link>
</head>
<body>
<nav class="n1">
	<div>
		<br>
<header><img src="/static/studentStatic/images/DAIICT.jpg" class="img1"/></header>
</div>
 <div class="menu1">
                    <div class="menualign1">
                        <a href="/" class="selected">Home</a>
						<a href="homepageStudent.html">Profile</a>
						<a href="regenerateQR.html">Regenerate QR</a>
                        <a href="viewQRFinal.html">View QR</a>
                        <a href="ChangePassword.html">Change Password</a>
                        <a href="login.html">Logout</a>
                    </div>
                </div>
  </nav>  
<div class="d1">
<form align="center" method="POST" action="#">
	<br/>
	<h2 class="h11">Profile</h2>
	<table align="center">
	<tr>
		<td><label class="fn1" >First Name: </label></td>
		<td><input type="fn" name="fn" hint="Enter first name" class="fn" id="fname" required readonly></td>
	</tr>
	<tr></tr>
	<tr>
		<td><label class="ln1">Last name: </label></td>
		<td><input type="ln" name="ln" hint="Enter last name" class="ln"  id="lname" required readonly></td>
	</tr>
	<tr></tr>
	<tr>
		<td><label class="bday">Birthdate: </label></td>
		<td><input type="date" name="date" class="bdate" id="bdate" required readonly></td>
	</tr>  
    <tr></tr>
    <tr>
        <td><label class="gen">Gender: </label></td>
        <td><input type="radio" id="male" name="gender" id="male" value="male" readonly>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female" id="female" readonly>
            <label for="female">Female</label>
            </td>
        </td>

    </tr>
	<tr>
		<td><label class="email1">Email:</label></td>
		<td><input type="email" name="email" class="email" id="email" required readonly></td>
	</tr>
	<tr></tr>
	<tr>
		<td><label class="pnumber1">Contact Number:</label></td>
		<td><input type="number" name="number" class="pnumber" id="pNumber" required readonly></td>
	</tr>
	<tr></tr>
</table>
<br/>
<br/>
</form>
</div>
</body>
</html>