<html>
<head>
        
        <link rel="stylesheet" type="text/css" href="css/homepage.css" />
        <link rel="stylesheet" type="text/css" href="css/regenerateQR.css" />
                
        
</head>
<body>
<nav class="n1">
	<div>
		<br>
<header><img src="DAIICT.jpg" class="img1"/></header>
</div>
 <div class="menu1">
                    <div class="menualign1">
                        <a href="equipment_avaiblity1.html" class="selected">Home</a>
                        <a href="homepageStudent.html">Profile</a>
                        <a href="regenerateQR.html">Regenerate QR</a>
                        <a href="viewQRFinal.html">View QR</a>
                        <a href="ChangePassword.html">Change Password</a>
                        <a href="login.html">Logout</a>
                    </div>
                </div>
  </nav>  
        <div class="container-fluid">
            <form action="">
                <br />
                <input type="text" name="name" class="formStyle" placeholder="Enter your ID" id="uname" maxlength="9" onfocusout="username()" required />
                <br />
                <span id="error-ID" style="color:red;"></span>
                <br />
                <input type="email" name="email" class="formStyle" placeholder="Enter your DAIICT ID" id="email" onfocusout="ValidateEmail()" required />
                <br />
                <span id="email-error" style="color:red;"></span>
              <br/>
                <button class="formButton">Email</button>
              </form> 
        </div>
        <script src="js/regenerateQR.js"></script>
</body>
</html>