<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/homepage.css"></link>
    <link href="css/view_QR.css" rel="stylesheet">
</head>
<body>
<nav class="n1">
	<div>
		<br>
<header><img src="DAIICT.jpg" class="img1"/></header>
</div>
 <div class="menu1">
                    <div class="menualign1">
                        <a href="equipment_avaiblity1.html" class="selected">Home</a>
                        <a href="homepageStudent.html">Profile</a>
                        <a href="regenerateQR.html">Regenerate QR</a>
                        <a href="viewQRFinal.html">View QR</a>
                        <a href="ChangePassword.html">Change Password</a>
                        <a href="login.html">Logout</a>
                    </div>
                </div>
  </nav>  
<div class="d1">
<form align="center" method="POST" action="#">
	<br/>
	<h3 class="h11">QR Code</h3>
<div class="containerr">     
    <img src ="QR.png" class="img" id="img" />
    </div>
    <form align="center">
        <button name="d_QR" value ="d_qr" id="d_qr"> Download </button>
    </form>
</div>
</body>
</html>