.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20232e;
    color: white;
    text-align: center;
  }
  ul li
  {
     display:inline; 
  }
  .i1
  {
      height:90px;
      width:90px;
  }